<div class="the-back">
    <div class="log-head">
        <img src="images/logoo.png" class="log-img">
    </div>
    <div class="log-content log-content-forget"> 
        <form class="log-form log-form-forget" ng-submit="forget_password()">
            <div class="form-content mail-before">
                <span class="fa fa-envelope"></span>
                <input type="email" ng-model="email" class="log-input h-input user-input for-input" placeholder="البريد الألكترونى" required autofocus>
            </div>

            <button type="submit" class="log-button">طلب</button>
            <div class="log-links">
                <a href="#/register" class="log-a-link">ليس لديك عضوية ؟ أدخل الأن</a>
            </div>                
        </form>
    </div>
    <div class="log-footer">
    </div>        
</div>
