<div class="container dashboard-page" style="margin-top: 115px;">
    <div class="theme-showcase" role="main">
        <div class="employee-operation">
            <a class="add-group" data-toggle="modal" data-target="#addEmp">اضف الى شبكة الأعمال    </a>
        </div>
        <div class="employee-list">
            <ul>
                <li class="container">
                    <img src="images/1.png">
                    <span class="employee-name">m.elsaeed@hotmail.com   <br>
                        <span class="request-date">11 november 2016 - 11:12 pm</span>
                    </span>
                    <span class="operation-icon"> 
                        <i class="delete-emp fa fa-trash-o" data-toggle="modal" data-target="#deletEmp"></i>

                    </span>
                    <div class="modal fade login-box" id="deletEmp" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true" style="color:#333; margin: 0; padding: 0;">

                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">هل تريد مسح محمد عبد الله اسماعيل </h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" class="form-horizontal specification-home">
                                        <div class="form-group specification-operation">
                                            <input type="submit" class="" value="نعم" style="float:left;">
                                            <a ng-href="#/main" data-dismiss="modal" aria-label="Close" style="float:left;">لا</a>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="container">
                    <img src="images/1.png">
                    <span class="employee-name">m.elsaeed@hotmail.com   <br>
                        <span class="request-date">11 november 2016 - 11:12 pm</span>
                    </span>
                    <span class="operation-icon"> 
                        <i class="delete-emp fa fa-trash-o" data-toggle="modal" data-target="#deletEmp"></i>

                    </span>
                    <div class="modal fade login-box" id="deletEmp" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true" style="color:#333; margin: 0; padding: 0;">

                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">هل تريد مسح محمد عبد الله اسماعيل </h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" class="form-horizontal specification-home">
                                        <div class="form-group specification-operation">
                                            <input type="submit" class="" value="نعم" style="float:left;">
                                            <a ng-href="#/main" data-dismiss="modal" aria-label="Close" style="float:left;">لا</a>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>


            </ul>
        </div>
    </div> <!-- /end tab groups --> 
</div>
