<div class="container dashboard-page" style="margin-top: 115px;">
    <div class="employee-list">
        <ul>
            <li class="container">
                <img src="images/1.png">
                <span class="employee-name"> محمد عبد الله اسماعيل <br>
                    <span class="request-date">11 november 2016 - 11:12 pm</span>
                </span>
                <span class="operation-icon">
                    <input type="checkbox">
                </span>

            </li>
            <li class="container">
                <img src="images/1.png">
                <span class="employee-name"> محمد عبد الله اسماعيل <br>
                    <span class="request-date">11 november 2016 - 11:12 pm</span>
                </span>
                <span class="operation-icon">
                    <input type="checkbox">
                </span>

            </li>
            <li class="container">
                <img src="images/1.png">
                <span class="employee-name"> محمد عبد الله اسماعيل <br>
                    <span class="request-date">11 november 2016 - 11:12 pm</span>
                </span>
                <span class="operation-icon">
                    <input type="checkbox">
                </span>

            </li>
            <li class="container">
                <img src="images/1.png">
                <span class="employee-name"> محمد عبد الله اسماعيل <br>
                    <span class="request-date">11 november 2016 - 11:12 pm</span>
                </span>
                <span class="operation-icon">
                    <input type="checkbox">
                </span>

            </li>
            <li class="container">
                <img src="images/1.png">
                <span class="employee-name"> محمد عبد الله اسماعيل <br>
                    <span class="request-date">11 november 2016 - 11:12 pm</span>
                </span>
                <span class="operation-icon">
                    <input type="checkbox">
                </span>

            </li>
            <li class="container">
                <img src="images/1.png">
                <span class="employee-name"> محمد عبد الله اسماعيل <br>
                    <span class="request-date">11 november 2016 - 11:12 pm</span>
                </span>
                <span class="operation-icon">
                    <input type="checkbox">
                </span>

            </li>
            <li class="container">
                <img src="images/1.png">
                <span class="employee-name"> محمد عبد الله اسماعيل <br>
                    <span class="request-date">11 november 2016 - 11:12 pm</span>
                </span>
                <span class="operation-icon">
                    <input type="checkbox">
                </span>

            </li>
            <li class="container">
                <img src="images/1.png">
                <span class="employee-name"> محمد عبد الله اسماعيل <br>
                    <span class="request-date">11 november 2016 - 11:12 pm</span>
                </span>
                <span class="operation-icon">
                    <input type="checkbox">
                </span>

            </li>

        </ul>
        <span class="add-request-operations" data-toggle="modal" data-target="#addReq">
            <i class="fa fa-plus"></i>
        </span>

        <div class="modal fade login-box" id="addReq" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true" style="color:#333; margin: 0; padding: 0;">

            <span class="add-request-operations check-yes">
                <i class="fa fa-check"></i>
            </span>
            <span class="say-yes">قبول</span>
            <br>

            <span class="add-request-operations check-no" data-toggle="modal" data-target="#refuseReq">
                <i class="fa fa-times"></i>
            </span>
            <span class="say-no">رفض</span>
            <br>
            <div class="modal fade login-box" id="refuseReq" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true" style="color:#333; margin: 0; padding: 0;">

                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>

                        </div>
                        <div class="modal-body">
                            <form role="form" class="form-horizontal specification-home">
                                رفض "محمد اسماعيل عبد الله" 
                                <div class="form-group specification-operation">

                                    <input type="submit" class="" value="لا" style="float:left;">
                                    <input type="submit" class="" value="نعم" style="float:left;">
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <span class="add-request-operations">
                <i class="fa fa-arrow-left"></i>
            </span>
        </div>

    </div>
</div> <!-- /end tab orders -->